@import url('header.css');
@import url('main.css');
@import url('main.css');
@import url('calendar.css');
@import url('regulations.css');
@import url('teams.css');
@import url('scores.css');
@import url('mediaQueries.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
   background-color: black;
   height: 500vh;
   
   
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-top: 1px solid white;
}
.sponsor{
    height: 50px;
}
footer h2{
    color: white;
    font-size: 2vh;
    font-weight: lighter;

}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    margin-bottom: 50px
}










